
body {

    color: beige;
    background-color: cadetblue;

}


.background {

    background-color: lightgray;
    background-image: url("../images/background.jpg");
    background-blend-mode: multiply;
   
}

#new-game-btn {

    outline: none;
    cursor: pointer;
    background-color: bisque;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 20px;
    border-color: black;
    box-shadow: 0 4px black;
}

#new-game-btn:hover {

    box-shadow: 0 2px black;
    top: 2px;
}

#new-game-btn:active {

    box-shadow: 0 0 gray;
    top: 6px;
}

#palceholder-section {

    background-color: aquamarine;

}


#placeholders {

    letter-spacing: 6px;
    font-size: 40px;
}

