
body {

    color: beige;
    background-color: cadetblue;

}


.background {

    background-color: beige;
    background-image: url("../images/background.jpg");
    background-blend-mode: multiply;
   
}

#new-game-btn {

    outline: none;
    cursor: pointer;
    background-color: bisque;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 20px;
    border-color: black;
    box-shadow: 0 2px black;
}


